# Goals:
- 
-

In [3]:
#Importing Required Libraries
#Data manipulation
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Model 
from sklearn import linear_model
import requests

## Datasets



Our Dataset source: https://www.energidataservice.dk/tso-electricity/ConsumptionPerGridarea

In [25]:

# The API endpoint
url = "https://api.energidataservice.dk/dataset/ConsumptionPerGridarea?limit=100000"
# params = {
#     'start': '2018-01-01T00:00',
#     'end': '2024-01-01T00:00',
#     'limit': 100000  
# }

# A GET request to the API
response = requests.get(url)

result = response.json()

records = result.get('records', [])

In [27]:
df = pd.DataFrame(records)
df

,HourUTC,HourDK,GridCompany,ResidualConsumption,FlexSettledConsumption,HourlySettledConsumption
0,2024-10-02T21:00:00,2024-10-02T23:00:00,003,None,52889.500,0.000
1,2024-10-02T21:00:00,2024-10-02T23:00:00,007,None,25522.951,0.000
2,2024-10-02T21:00:00,2024-10-02T23:00:00,016,None,401.820,34.190
3,2024-10-02T21:00:00,2024-10-02T23:00:00,031,None,43701.625,56239.442
4,2024-10-02T21:00:00,2024-10-02T23:00:00,042,None,7392.138,15203.200
...,...,...,...,...,...,...
99995,2024-07-09T21:00:00,2024-07-09T23:00:00,757,None,5273.790,5214.540
99996,2024-07-09T21:00:00,2024-07-09T23:00:00,791,None,350416.966,400243.378
99997,2024-07-09T21:00:00,2024-07-09T23:00:00,853,None,2255.872,3253.135
99998,2024-07-09T21:00:00,2024-07-09T23:00:00,854,None,5336.866,3482.210
99999,2024-07-09T21:00:00,2024-07-09T23:00:00,860,None,7442.496,7795.384

In [28]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 6 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   HourUTC                   100000 non-null  object
 1   HourDK                    100000 non-null  object
 2   GridCompany               100000 non-null  object
 3   ResidualConsumption       0 non-null       object
 4   FlexSettledConsumption    100000 non-null  float64
 5   HourlySettledConsumption  83680 non-null   float64
dtypes: float64(2), object(4)
memory usage: 4.6+ MB
None