# Goals:
- 
-

In [3]:
#Importing Required Libraries
#Data manipulation
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Model 
from sklearn import linear_model
import requests

## Datasets



Our Dataset source: https://www.energidataservice.dk/tso-electricity/ConsumptionPerGridarea

In [4]:

# # The API endpoint
# url = "https://api.energidataservice.dk/dataset/ConsumptionPerGridarea/download?start=2022-01-01&end=2024-01-01&limit=0"
# # url = https://api.energidataservice.dk/dataset/ConsumptionPerGridarea?
# # params = {
# #     'start': '2022-01-01T00:00',
# #     'end': '2024-01-01T00:00',
# #     'limit': 100000  
# # } 
# # response = requests.get(url, params)

# # A GET request to the API
# response = requests.get(url)
# result = response.json()

In [5]:
# df = pd.DataFrame(result)
# df

In [6]:
# Saving the data frame in CSV format, so we would have our local dataset. 
# df.to_csv('ConsumptionPerGridarea20241016.csv', index=False)

## Data Exploration

In [11]:
df_loc = pd.read_csv('ConsumptionPerGridarea20241016.csv')

In [12]:
df_loc.head()

,HourUTC,HourDK,GridCompany,ResidualConsumption,FlexSettledConsumption,HourlySettledConsumption
0,2023-12-31T22:00:00,2023-12-31T23:00:00,3,NaN,92941.889,0.000
1,2023-12-31T22:00:00,2023-12-31T23:00:00,7,NaN,68369.987,0.000
2,2023-12-31T22:00:00,2023-12-31T23:00:00,16,NaN,461.403,30.360
3,2023-12-31T22:00:00,2023-12-31T23:00:00,31,NaN,67108.002,89261.926
4,2023-12-31T22:00:00,2023-12-31T23:00:00,42,NaN,10069.721,8485.240

In [13]:
print(df_loc.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 906528 entries, 0 to 906527
Data columns (total 6 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   HourUTC                   906528 non-null  object
 1   HourDK                    906528 non-null  object
 2   GridCompany               906528 non-null  int64
 3   ResidualConsumption       0 non-null       float64
 4   FlexSettledConsumption    906528 non-null  float64
 5   HourlySettledConsumption  748848 non-null  float64
dtypes: float64(3), int64(1), object(2)
memory usage: 41.5+ MB
None

In [15]:
# between two different hours, I was thinking maybe we could just select the HourDK,
# since it might make more sense when it comes to day time and night time 
# the ResidualConsumption can be removed as well
df_loc = df_loc.drop(['HourUTC', 'ResidualConsumption'], axis=1)

In [22]:
#change codes to categories
df_loc['GridCompany'] = df_loc['GridCompany'].astype(str)

In [23]:
df_loc.head()

,HourDK,GridCompany,FlexSettledConsumption,HourlySettledConsumption
0,2023-12-31T23:00:00,3,92941.889,0.000
1,2023-12-31T23:00:00,7,68369.987,0.000
2,2023-12-31T23:00:00,16,461.403,30.360
3,2023-12-31T23:00:00,31,67108.002,89261.926
4,2023-12-31T23:00:00,42,10069.721,8485.240

In [24]:
print(df_loc.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 906528 entries, 0 to 906527
Data columns (total 4 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   HourDK                    906528 non-null  object
 1   GridCompany               906528 non-null  object
 2   FlexSettledConsumption    906528 non-null  float64
 3   HourlySettledConsumption  748848 non-null  float64
dtypes: float64(2), object(2)
memory usage: 27.7+ MB
None

In [25]:
df_loc.shape

(906528, 4)

In [28]:
df_loc.describe()

       FlexSettledConsumption  HourlySettledConsumption
count           906528.000000             748848.000000
mean             36459.246658              51877.919237
std              82070.257026             104574.635766
min                  0.000000                  0.000000
25%               1600.000000               2198.707250
50%               7468.139500               7225.467000
75%              26874.144500              44113.591000
max             904216.654000             817042.465000

In [27]:
df_loc['GridCompany'] = df_loc['GridCompany'].astype('category')